@using CosmeticApi.Models.Context
@model IEnumerable<Review>
@{
    ViewBag.Title = "Управление данными";
}


<div class="container">
    <table class="table">
        <tbody>
            @foreach (Review r in Model)
            {
                <tr>
                    <td>@r.Title</td>
                    <td>@r.Text</td>
                    <td>@r.Active</td>
                    <td>@r.Brand</td>
                    <td>@r.Data</td>
                    <td>@r.User</td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div class="container">

    @Html.Action("Country")
    @Html.Action("Brand")
</div>

@section scripts{
    <script type="text/javascript">
        
        $('#addCountry').click(function () {
            const url = '/api/country'
            const country = $('#country').val();
            $('#country').val('')
            $.ajax({
                type: 'POST',
                url: url,
                data: {
                    Name: country
                },
                dataType: 'json',
                success: (data) => {
                    console.log(data);
                    alert('Данные успешно добавлены')
                    location.reload();
                },
                error: (e) => {
                    console.log(e);
                    alert('Произошла ошибка. Обратитесь к администратору')
                }
            })
        })
        $('#deleteCountry').click(function () {
            const url = '/api/country'
            const id = $(this).data('id');
            $.ajax({
                type: 'DELETE',
                url: url+'/'+id,
                success: () => {
                    alert('Удалено');
                    location.reload();
                },
                error: (e) => {
                    alert('Ошибка');
                    console.log(e);
                }
            })
        })

        // brands
        $('#addBrand').click(function () {
            const url = '/api/brands'
            const brand = $('#brand').val();
            $('#brand').val('')
            $.ajax({
                type: 'POST',
                url: url,
                data: {
                    Name: brand
                },
                dataType: 'json',
                success: (data) => {
                    console.log(data);
                    alert('Данные успешно добавлены')
                    location.reload();
                },
                error: (e) => {
                    console.log(e);
                    alert('Произошла ошибка. Обратитесь к администратору')
                }
            })
        })
        $('#deleteBrand').click(function () {
            const url = '/api/brands'
            const id = $(this).data('id');
            $.ajax({
                type: 'DELETE',
                url: url + '/' + id,
                success: () => {
                    alert('Удалено');
                    location.reload();
                },
                error: (e) => {
                    alert('Ошибка');
                    console.log(e);
                }
            })
        })
    </script>    
}

